body {
  background-color: #83c7db !important;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  text-align: center;
  margin: 60px;
}

.notice {
  text-align: center;
}

// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
